/* Houdini at-rule for animating the gradient angle */
@property --gradient-angle {
    syntax: '<angle>';
    inherits: false;
    initial-value: 0deg;
}

/* Fallback for browsers that don't support @property */
@supports not (background: paint(something)) {
    :root {
        --gradient-angle: 90deg;
    }
}

html {
    /* Make the page / gradient the full height on big screens */
    min-height: 100vh;
}

body {
    font-family: 'Roboto', sans-serif;
    background: var(--bs-orange) linear-gradient(var(--gradient-angle), var(--bs-orange), var(--bs-blue));
    animation: gradient-spin 60s linear infinite;
}

h1,
h2,
h3,
h4,
.h1,
.h2,
.h3,
.h4,
.comfortaa {
    font-family: 'Comfortaa', sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
    color: var(--bs-body-color);
}

a {
    transition: color 0.25s;
    color: var(--bs-primary);
}

a:hover {
    color: var(--bs-orange);
}

.corners {
    border-radius: 2rem;
}

img {
    max-width: 100%;
    object-fit: scale-down;
    display: block;
}

.ls-none {
    list-style: none;
}

@media (max-width: 575.98px){
    .container > .corners {
        border-radius: 0 0 2rem 2rem;
    }
}

@media only print and (max-width: 991.98px) {
    #container {
        margin-top: 0 !important;
    }
}

@media only screen and (prefers-color-scheme: dark) {
    .text-muted {
        color: var(--bs-gray-500) !important;
    }

    .bg-white {
        background-color: var(--bs-dark) !important;
    }

    .bg-light {
        background-color: var(--bs-gray-dark) !important;
    }

    :root {
        --bs-body-color: var(--bs-gray-200)
    }

    a {
        color: var(--bs-orange);
    }

    a:hover {
        color: var(--bs-primary);
    }
}

@media (prefers-reduced-motion) {
    body {
        background: var(--bs-orange) linear-gradient(90deg, var(--bs-orange), var(--bs-blue));
        animation: none;
    }
}

@keyframes gradient-spin {
    from {
        --gradient-angle: 0deg;
    }

    to {
        --gradient-angle: 360deg;
    }
}