<div class="text-center">
    {%- if site.sponsors.size > 0 %}
    <p class="mb-0" id="sponsors">Thank you to my sponsors:
        {%- for sponsor in site.sponsors %}
        <a href="https://github.com/{{ sponsor }}">{{ sponsor }}</a>{% unless forloop.last %},{% endunless %}
        {%- endfor -%}
    </p>
    {% endif -%}
    <p class="mb-0">If I helped you please <a href="https://github.com/sponsors/Steve-Tech">sponsor me on GitHub</a>!</p>
    <p class="mb-0">This site doesn't use any Google services or advertising, <a href="/privacy">read more here</a>.</p>
</div>