---
layout: template
---

{{ content }}

{%- if site.posts.size > 0 -%}
<ul class="ls-none ps-0 mx-2">
  {%- for post in site.posts -%}
  <li class="mb-3">
    {%- assign date_format = site.minima.date_format | default: "%b %-d, %Y" -%}
    <span class="small text-muted">{{ post.date | date: date_format }}</span>
    <h3>
      <a href="{{ post.url | relative_url }}">
        {{ post.title | escape }}
      </a>
    </h3>
    {%- if site.show_excerpts -%}
    {{ post.excerpt }}
    {%- endif -%}
  </li>
  {% assign divisible = forloop.index | modulo: 3 %}
  {% if divisible == 0 %}
  <li>
    {%- include adsense-infeed.html -%}
  </li>
  {%- endif -%}
  {%- endfor -%}
</ul>
<hr>
<p class="rss-subscribe text-center mb-0">Subscribe <a href="{{ "/feed.xml" | relative_url }}">via RSS</a></p>

{%- include adsense-display.html -%}
{%- endif -%}