---
layout: template
---
<article class="mx-2" itemscope itemtype="http://schema.org/BlogPosting">

  <header>
    <h2 itemprop="name headline">{{ page.title | escape }}</h2>
    <p>
      <time datetime="{{ page.date | date_to_xmlschema }}" itemprop="datePublished">
        {%- assign date_format = site.minima.date_format | default: "%b %-d, %Y" -%}
        {{ page.date | date: date_format }}
      </time>
      {%- if page.author -%}
      {%- if site.data.authors contains page.author -%}
      {% assign author = site.data.authors[page.author] %}
      • <a href="{% if author.github != nul %}{{ author.github }}{% else %}{{ author.url }}{% endif %}"><span
          itemprop="author" itemscope itemtype="http://schema.org/Person"><span class="p-author h-card"
            itemprop="name">{{ page.author }}</span></span></a>
      {%- else -%}
      • <span itemprop="author" itemscope itemtype="http://schema.org/Person"><span class="p-author h-card"
          itemprop="name">{{ page.author }}</span></span>
      {%- endif -%}
      {%- endif -%}
    </p>
  </header>

  <div itemprop="articleBody">
    {{ content }}
  </div>


  {%- include adsense-display.html -%}

  {%- if site.disqus.shortname -%}
  {%- include disqus_comments.html -%}
  {%- endif -%}

  <a class="u-url" href="{{ page.url | relative_url }}" hidden></a>
</article>